<ion-header>
  <ion-navbar>
    <ion-title>Programa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list *ngFor="let programArea of programAreaList">
    <ion-list-header [innerHtml]="programArea.title" > </ion-list-header>

    {{programArea.title}}
    <ion-item *ngFor="let programDate of programArea.programaDateList" (click)="pushProgram(programDate)">
      <ion-avatar *ngIf="programDate.imageSrc" item-start>
        <img src="{{programDate.imageSrc}}">
      </ion-avatar>
      <h2 [innerHtml]="programDate.title"></h2>
      <!--<ion-note item-end>3:43 pm</ion-note>-->
    </ion-item>
  </ion-list>
</ion-content>
