<!--
  Generated template for the MapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ubicacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
    <ion-item  *ngIf="mapsProv.mapList.length>0" >
      <ion-card *ngFor="let map of mapsProv.mapList"
                [style.border]="map.BorderSize+'px solid '+map.BorderColor">
        <ion-card-header [innerHtml]="map.Title">
        </ion-card-header>
        <ion-card-content *ngIf="map.IsMap">
          <agm-map  [latitude]="map.Lat" [longitude]="map.Lng" [zoom]="map.Zoom">
            <agm-marker [latitude]="map.Lat" [longitude]="map.Lng" ></agm-marker>
            <agm-info-window>
              <strong>Ubicacion</strong>
            </agm-info-window>
          </agm-map>
        </ion-card-content>
        <ion-card-content *ngIf="!map.IsMap&&map.ImageList.length>0"  >
          <div *ngFor="let image of map.ImageList">
            <img padding src="{{image}}">
          </div>
        </ion-card-content>
      </ion-card>

    </ion-item>


  </ion-list>

</ion-content>
