<ion-header>

  <ion-navbar color="red" >
    <ion-title [innerHTML]="staticModel.titlePage" [style.color]="staticModel.cssModel.colorText"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content color="primary" color="">
  <div *ngFor="let modelContent of staticModel.staticContentList" >
    <ion-card *ngIf="modelContent.type=='title' "
                     [style.color]="modelContent.cssStatic.colorText"
                     [style.background-color]="modelContent.cssStatic.colorBack">
      <ion-card-header [innerHTML]="modelContent.text"></ion-card-header>
    </ion-card>
    <p *ngIf="modelContent.type=='title' "
       [innerHTML]="modelContent.text"
       [style.color]="modelContent.cssStatic.colorBack"
       [style.background-color]="modelContent.cssStatic.colorText"></p>
    <!--<ion-card-content *ngFor="let staticContent of staticModel.staticContentList">-->
      <!--<ion-card-title *ngIf="staticContent.type=='title'"></ion-card-title>-->
      <!--<ion-card-title *ngIf="staticContent.type=='title'"></ion-card-title>-->

    <!--</ion-card-content>-->
  </div>
</ion-content>
